<div class="game-column" id="AIvsAIColumn">
	<h1 data-i18n="homepage-welcome" class="welcome-title text-warning animate-pulse-heartbeat-slow text-center">Welcome </h1>
    <div class="game-row" id="AIvsAIRow">
        <div id="AILeftIcon"></div>
        <div id="AIvsAIContainer">
            <canvas id="AIvsAICanvas"></canvas>
        </div>
        <div id="AIRightIcon"></div>
    </div>
    <div class="play-btn-row">
        <a href="#playMenu" class="btn btn-outline-info btn-lg p-3 fw-bolder" style="min-width: 320px;" data-i18n="play-menu">
            Play
        </a>
    </div>
</div>



