<div class="game-row" id="localGameRow">
	<div>
        <h1 class="text-center" data-i18n="player1">Player 1</h1>
        <i id="leftIsReady" class="bi bi-check-circle visually-hidden" style="color: green;">Ready</i>
    </div>
    <div id="localGameContainer">
        <canvas id="localGameCanvas"></canvas>
    </div>
	<div>
        <h1 class="text-center" data-i18n="player2">Player 2</h1>
        <i id="rightIsReady" class="bi bi-check-circle visually-hidden" style="color: green;">Ready</i>
    </div>
</div>