<div class="d-flex flex-column justify-content-center align-items-center gap-5 h-100 bg-transparent">
    <h1 data-i18n="homepage-welcome" class="text-warning animate-pulse-heartbeat-slow text-center">Welcome \</h1>
    <div class="pyramid-container d-flex flex-column align-items-center">
        <!-- Ranked Button -->
        <a href="#ranked" class="btn btn-outline-info btn-lg p-3 fw-bolder pyramid-top" data-i18n="ranked">
            Ranked
        </a>
        <!-- Bottom Row -->
        <div class="d-flex gap-5 pyramid-bottom">
            <a href="#privateMatch" class="btn btn-outline-info btn-lg p-3 fw-bolder" data-i18n="private-match">
                Private Match
            </a>
            <a href="#tournament" class="btn btn-outline-info btn-lg p-3 fw-bolder" data-i18n="tournament">
                Tournament
            </a>
        </div>
    </div>

	<!-- Bottone quadrato per tornare indietro -->
	<div class="d-flex justify-content-center mt-3">
		<a href="#playMenu" class="btn btn-outline-secondary d-flex justify-content-center align-items-center" style="width: 64px; height: 64px; border-radius: 12px;">
			<!-- Icona freccia curva verso sinistra (Font Awesome 4.7.0) -->
			<i class="fa fa-arrow-left fa-2x"></i>
		</a>
	</div>
</div>
