<div class="wrapper">
    <div class="item">
        <div class="item-parent-central">
            <div class="item-childrens">
                <div class="item-child">
                    <div class="item">
                        <div class="item-parent">
                            <p>Vegeta<br><span class="vs-text">VS</span><br>Goku</p>
                        </div>
                        <div class="item-childrens">
                            <div class="item-child">
                                <p>Vegeta<br><span class="vs-text">VS</span><br>Gohan</p>
                            </div>
                            <div class="item-child">
                                <p>Goku<br><span class="vs-text">VS</span><br>Majinbu</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="p-green-red">Goku<br><span class="vs-text">VS</span><br>Cell</p>
            <div class="item-childrens-right">
                <div class="item-child-right">
                    <div class="item-right">
                        <div class="item-parent-right">
                            <p>Cell<br><span class="vs-text">VS</span><br>Piccolo</p>
                        </div>
                        <div class="item-childrens-right">
                            <div class="item-child-right">
                                <p>Cell<br><span class="vs-text">VS</span><br>Trunks</p>
                            </div>
                            <div class="item-child-right">
                                <p>Crilin<br><span class="vs-text">VS</span><br>Piccolo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-bottom text-center mb-3">
    <button id="playTournamentBtn" class="btn btn-success btn-lg me-3" data-i18n="playMatch" style="display: none;">Play</button>
    <button id="quitTournamentBtn" class="btn btn-danger btn-lg" data-i18n="quitTournament">Quit Tournament</button>
</div>
