<div id="bracket-container" class="my-5">
    <div class="tournament-phases-header w-100">
        <h2 class="tournament-section-header" data-i18n="quarter-finals">Quarter Final</h2>
        <h2 class="tournament-section-header" data-i18n="semi-finals">Semi Final</h2>
        <h2 class="tournament-section-header" data-i18n="final">Final</h2>
        <h2 class="tournament-section-header" data-i18n="semi-finals">Semi Final</h2>
        <h2 class="tournament-section-header" data-i18n="quarter-finals">Quarter Final</h2>
    </div>

    <div class="tournament-bracket-container w-100">
        <!-- Le righe verranno generate dinamicamente da JS -->
    </div>
</div>

<div class="fixed-bottom text-center mb-3">
    <button id="quitTournamentBtn" class="btn btn-danger btn-lg" data-i18n="quitTournament">Quit Tournament</button>
</div>

